*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

 body{
    background-color: black;
    color: rgb(255, 0, 0);
 }

 .container{
    display: flex;
    height: 100vh;
}

.sidebar{
   width: 300px;
   background-color: rgb(255, 255, 255);
   padding: 24px;
   padding-bottom: 90px;
   display: flex;
   flex-direction: column;
}